@tailwind base;
@tailwind components;
@tailwind utilities;

/* .rbc-allday-cell {
  display: none !important;
} */

.rbc-time-header {
  padding-top: 20px !important;
}
.rbc-day {
  white-space: pre-wrap; /* 줄바꿈을 제대로 표시 */
}

.rbc-button-link {
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 500;
}

.rbc-timeslot-group > div:nth-child(2) {
  display: none !important;
}

.rbc-off-range-bg {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.rbc-event-label {
  display: none !important;
}

.react-date-picker__wrapper,
.react-date-picker__inputGroup {
  border: none !important;
}

/* 메인페이지 멤버 스크롤 처리 */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
